<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHALLENGE</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div><h2 class="text-center">Editar Producto</h2> </div>
    <div class="container">
      <div class="row">
        <!--FORM-->
        <div class="col-md-5 offset-md-3">
          <div class="card">
            <div class="card-body">
              <form action="/edit/<%= product._id %>" method="post">
                <div class="form-group">
                  <label>Nombre de producto*</label>
                  <input type="text" name="nombre" id="nombre" value="<%= product.nombre %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>Categoria</label>
                  <input type="text" name="categoria" id="categoria" value="<%= product.categoria %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>Marca</label>
                  <input type="text" name="marca" id="marca" value="<%= product.marca %>" class="form-control">
                </div>
                <div class="form-group">
                  <label>Precio</label>
                  <input type="text" name="precio" id="precio" value="<%= product.precio %>" class="form-control">
                </div>
                <div class="form-group"> 
                  <button class="btn btn-primary" type="submit">
                    Update 
                  </button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
  
